name: pizza_repository
description: pizza_repository

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.1.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  path_provider: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.24.3

  flutter_lints: ^2.0.0

flutter:
  assets:
    - assets/json/